.icon-arrow-left {
  width: 0.53em;
  height: 1em;
  fill: #003675;
}
.icon-arrow-right {
  width: 0.53em;
  height: 1em;
  fill: #003675;
}
.icon-burger {
  width: 1.47em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-vesta {
  width: 3.85em;
  height: 1em;
  fill: white;
}
